# built files
src/vahttool/vahttool

# autotools noise
m4/libtool.m4
m4/lt*.m4
doxygen-doc
Makefile
Makefile.in
.deps/
.libs/
*.la
*.o
*.lo
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
configure

# OS X noise
.DS_Store
