# autotools noise
m4/
Makefile
Makefile.in
.deps/
.libs/
*.la
*.o
*.lo
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
configure

# OS X noise
.DS_Store
